@import '../../global.scss';

//? Loading
.loading {
  @include flex(row, center, center);
  height: 100vh;
  width: 100%;
  .loading-animation {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 1rem;

    &:after {
      content: ' ';
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 2px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: rotation-circle 1.2s linear infinite;
    }
  }

  @keyframes rotation-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
