@import '../../../global.scss';

//? Popup
.popup-container {
  @include flex(column, center, center);
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.8);
  position: absolute;
  top: 0%;
  left: 0%;
  transition: all 0.3s ease-in-out;

  .popup {
    @include flex(column, center, center);
    width: 30vw;
    background: $wrong;
    height: 45vh;
    border-radius: $border;
    padding: 1rem 4rem;
    text-align: center;

    @include breakpoint(mobileonly) {
      height: 50%;
      width: 85%;
      padding: 1rem 2rem;
    }
    @include breakpoint(tablet-portait) {
      height: 50%;
      width: 85%;
      padding: 1rem 2rem;
    }

    @include breakpoint(tablet-landscape) {
      height: 60%;
      width: 50%;
    }

    &-image {
      width: 100%;
      height: 20vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    p {
      color: $mainWhite;
    }

    h2 {
      font-size: 1.6rem;
    }

    .btn-group {
      @include flex(row, center, center);
      margin-top: 1rem;
      width: 100%;
      button {
        width: 40%;
        background: $mainWhite;
        color: $mainBlack;
        padding: 0.8rem;
        margin: 0 2rem;

        @include breakpoint(mobileonly) {
          min-width: 120px;
        }
        &:hover {
          transform: scale(1.02);
        }
      }

      button:nth-of-type(2) {
        background: $wrong;
        border: 2px solid $mainWhite;
        color: $mainWhite;
      }
    }
  }
}
