@import '../global.scss';

.win-container {
  @include flex(column, center, center);
  height: 100vh;
  width: 100vw;
  text-align: center;

  @include breakpoint(tablet-portait) {
    padding: 1rem;
  }

  h1 {
    @include breakpoint(mobileonly) {
      font-size: 2rem;
      text-align: center;
    }
    @include breakpoint(tablet-portait) {
      font-size: 3rem;
      text-align: center;
    }
  }

  p {
    margin: 0.5rem 0 1rem 0;
  }

  .cta {
    padding: 1rem 1.5rem;
  }
}
